@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.container {
  display: flex;
  width: 100%;
}

.left {
  width: 556px;
  margin-right: 100px;
}

.right {
  background: url('./../../images/bg-form.svg');
  margin-left: auto;
  border-radius: 6px;
  width: 487px;
}

.invite {
  @include text('body-3');

  margin-bottom: 8px;
}

.description {
  @include text('h2');

  margin-bottom: 32px;
  font-weight: 600;

  color: var(--mirage)
}

.magazine{
  @include text('body-1');

  margin-bottom: 24px;
}

.point {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.iconPoint {
  margin-right: 24px;
}