@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.container {
  display: flex;
  width: 100%;

  @include responsive('tablet', 'phone', 'phone-xs') {
    flex-direction: column;
  }
}

.left {
  max-width: 556px;
  width: 100%;
  margin-right: 100px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

.right {
  background: url('./../../images/form-bg.png') center center;
  margin-left: auto;
  border-radius: 6px;
  width: 487px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    width: 100%;
    border-radius: 0;
    background: url('./../../images/form-bg-mobile.svg');
  }
}

.invite {
  @include text('body-3');

  margin-bottom: 8px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    @include text('body-2');

    margin: 90px 0 0 0;
    text-align: center;
    color: $fiord;
  }
}

.description {
  @include text('h2');

  margin-bottom: 0px;
  font-weight: 600;

  color: var(--mirage);

  @include responsive('tablet', 'phone', 'phone-xs') {
    text-align: center;
    margin: 18px 0 0 0;

    @include text('h3');

    font-weight: 600;
  }
}

.descriptionSecond {
  margin-bottom: 32px;
  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 0;
  }
}

.offerBtn {
  width: 214px;
  height: 46px;
  text-align: center;
  margin-top: 42px;
  justify-content: center;
  display: flex;

  @include text('body-2')
}

.magazine{
  @include text('body-1');

  margin-bottom: 24px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    @include text('h4');
    font-weight: 600;
    margin: 40px 0 0 0;
    padding: 0 16px;
  }
}

.points {
  display: flex;
  flex-direction: column;

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 24px 0 74px 0;
    padding: 0 16px;
  }
}

.point {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.iconPoint {
  margin-right: 24px;
}

.video {
  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 146px 0 0 0;
    width: 100%;
  }
}
