@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.header {
  background: var(--white);
  display: flex;
  height: 70px;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--porcelain);

  @include responsive('phone', 'phone-xs', 'tablet') {
    height: 85px;
  }
}

.link {
  color: var(--waterloo) !important;
  margin-left: 32px;

  @include text('body-2');

  &:hover {
    color: var(--jungle-green) !important;
  }
}

.borderLink {
  @include text('body-2');

  padding: 10px 20px;
  margin-left: 61px;
  color: var(--jungle-green);
  border: 1px solid var(--jungle-green);
  border-radius: $border-radius;
}

.container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs', 'tablet') {
    justify-content: center;
  }
}

.logo {
  height: 26px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    width: 160px;
    height: 35px;
  }
}

.buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;

  @include responsive('desktop') {
    background: var(--white);
    border: 1px solid var(--porcelain);
    padding: 8px 9px;

    @include border-box();

    box-shadow: 0px 4px 8px rgba(24, 27, 43, 0.04), 0px 8px 16px rgba(24, 27, 43, 0.05), 0px 12px 32px rgba(24, 27, 43, 0.05);
    border-radius: $border-radius;
    width: 112px;
    height: 111px;
  }
}

.menuItem {
  @include responsive('desktop') {
    padding: 6px 9px;
    color: var(--mirage) !important;
    margin: 0;

    @include text('body-3')
  }

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin: 24px 0 0 0;
    text-align: center;
  }
}
