@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.header {
  background: var(--white);
  display: flex;
  height: 70px;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--porcelain);

  @include responsive('phone', 'phone-xs', 'tablet') {
    height: 77px;
  }
}

.link {
  color: var(--waterloo) !important;
  margin-left: 32px;

  @include text('body-3');

  &:hover {
    color: var(--jungle-green) !important;
  }

  @include responsive('phone', 'phone-xs', 'tablet') {
    @include text('body-2');
  }
}

.borderLink {
  @include text('body-3');

  text-align: center;
  display: table-cell;
  width: 118px;
  margin-left: 32px;
}

.products {
  margin-left: 8px;
}

.container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs', 'tablet') {
    justify-content: center;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}
