@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px 20px 20px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    padding: 70px 16px;
  }
}

.daysFree {
  @include text('h3');

  color: var(--white);
  text-align: center;
  margin-top: 48px;
  font-weight: 600;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin-top: 0px;
  }
}

.form {
  margin-top: 40px;
  max-width: 316px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin-top: 35px;
  }
}

.explanation {
  @include text('body-2');

  color: var(--athens);
  text-align: center;
  margin-top: 7px;
  max-width: 356px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin-top: 22px;
  }
}

.description {
  @include text('body-2');

  text-align: center;
  color: var(--mystic);
  margin-top: 42px;
  max-width: 316px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin-top: 60px;
  }
}

.info {
  @include text('caption');

  color: var(--waterloo);
  margin-top: 42px;
  max-width: 298px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin-top: 32px;
    max-width: 100%;
    width: 100%;
  }
}

.privacy {
  color: var(--jungle-green);
}