@import '~@santiment-network/ui/main.scss';
@import '~@santiment-network/ui/mixins.scss';

.container {
  margin-top: 40px;
  width: 556px;
  height: 278px;
  border-radius: 6px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    width: 100%;
    min-height: 141px;
  }
}

